@page "/accounts/{accountId}"
@inject IDataService DataService

<h3>AccountDetails</h3>



@code {
    [Parameter]
    public string? AccountId { get; set; }

    private List<Transaction> Transactions = new List<Transaction>();

    protected override void OnInitialized()
    {
        
    }

}
